﻿<script src="scripts/bind.js" type="text/javascript"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21942002-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type="text/javascript">
    $(window).ready(function () {
        $("a#contact").click(function () {
            loadContent("contact");
        });   
    
    });
</script>
        
<div id="about" class="subpage">
    <h3>Sobre</h3>
    <p class="subtitle">A Bind Solution é parceira Microsoft e desenvolve soluções web de qualidade para seus clientes</p>
    <div class="row">
        <label class="localizacao" title="Localização">Localização</label>
        <a class="localizacao" href="http://maps.google.com/maps/place?q=bind+solution+belo+horizonte&hl=en&cid=1558002574280663764" target="_blank">Rua João Gualberto Filho 453, sala 402 - Sagrada Família, Belo Horizonte - MG</a>
    </div>
    <div class="row">
        <label title="Servicos">Telefone</label>
        <p>(31) 8681-1986</p>
    </div>
    <div id="menu-about">
        <a id="back" title="back">voltar</a>
        <a id="contact" title="contato">Entrar em contato</a>
    </div>
</div>