<script src="scripts/bind.js" type="text/javascript"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21942002-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type="text/javascript">
        $(window).ready(function () {

            //Start
            $("#sending").hide();
            $("#message").hide();
        
             //Send mail
            $("div#contact form").submit(function (e) {
                e.preventDefault();

                var name = $("input[name='Name']").val();
                var email = $("input[name='Email']").val();
                
                
                //validate
                if (!isValidEmailAddress(email))
                {
                    $("input[name='Email']").addClass("error");
                    $(".message").empty();
                    $(".message").text("digite um email válido");
                    return false;
                }
                else
                {
                    $("input[type='Email']").removeClass("error");
                    $(".message ").fadeOut();
                }
                
                
                var message = $("textarea[name='Message']").val();
                var dataString = "name=" + name + "&email=" + email + "&message=" + message + "&company=Bind Solution";

                $.ajax({
                    type: "POST",
                    url: "Sendmail.php",
                    data: dataString,
                    beforeSend: function () {
                        $("form#sendmail").hide();
                        $("#sending").show();
                    },
                    complete: function () {
                        $("#sending").hide();
                    },
                    success: function (data) {
                        $("#message").empty();
                        $("#message").html(data);
                        $("#message").show();
                    },
                    error: function (xhr,err) {
                        $("#message").empty();
                        $("#message").html("readyState: "+xhr.readyState+"\nstatus: "+xhr.status);
                        $("#message").show();
                        $("form#sendmail").show();
                    }
                });
            });
        });
</script>
<div id="contact" class="subpage">
    <div id="message"></div>
    <div id="sending"></div>
    <form id="sendmail"  action="" method="post">
        <fieldset>
            <legend><h3>Contato</h3></legend>
            <p class="subtitle">Deixe sua mensagem e entraremos em contato.</p>
            <div class="row">
                <label title="Name" for="Name">Nome</label><input name="Name" type="text" value="" />
            </div>
            
            <div class="row">
                <label title="Email" for="Email">Email</label><input name="Email" type="text" value="" />
                <span class="error message"></span>
            </div>
            
            <div class="row">
                <label title="Message" for="Message">Mensagem</label><textarea name="Message" title="Mensagem" />
            </div>
            
            <div class="buttons">
                <input class="button white" type="submit" value="Enviar" />
            </div>
        </fieldset>
        
    </form>
    <a id="back" title="back">voltar</a>
</div>