﻿<script src="scripts/bind.js" type="text/javascript"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21942002-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type="text/javascript">
    $(window).ready(function () {
        $("a#contact").click(function () {
            loadContent("contact");
        });   
    
    });
</script>
        
<div id="presentation" class="subpage">
    <h3>Apresentação</h3>
    
    <div class="prezi-player">
        <style type="text/css" media="screen">.prezi-player { width: 550px; }</style>
        <object id="prezi_x6f1feewjyta" 
                name="prezi_x6f1feewjyta" 
                classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="550" height="400">
                <param name="movie" value="http://prezi.com/bin/preziloader.swf"/>
                <param name="allowfullscreen" value="true"/><param name="allowscriptaccess" value="always"/>
                <param name="bgcolor" value="#ffffff"/>
                <param name="flashvars" value="prezi_id=x6f1feewjyta&amp;lock_to_path=1&amp;color=ffffff&amp;autoplay=no&amp;autohide_ctrls=0"/>
                <embed id="preziEmbed_x6f1feewjyta" 
                        name="preziEmbed_x6f1feewjyta" 
                        src="http://prezi.com/bin/preziloader.swf" 
                        type="application/x-shockwave-flash" 
                        allowfullscreen="true" 
                        allowscriptaccess="always" 
                        width="550" 
                        height="400" 
                        bgcolor="#ffffff" 
                        flashvars="prezi_id=x6f1feewjyta&amp;lock_to_path=1&amp;color=ffffff&amp;autoplay=no&amp;autohide_ctrls=0">
                </embed>
        </object>
    </div>    
    
    <div id="menu-about">
        <a id="back" title="back">voltar</a>
    </div>
</div>