<script src="scripts/bind.js" type="text/javascript"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21942002-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script  type="text/javascript">

    $(window).ready(function () {
        $("#sending").hide();
        $("#message").hide();
    });
    
    $("a.menu-item").click(function () {
        var pageName = $.trim($(this).attr("class").split(' ')[0]);
        loadContent(pageName);
    });  
    
    $("form#subscribe").submit(function (e) {
        e.preventDefault();
        
        var email = $("form#subscribe input[type='text']").val();
        
        //validate
        if (!isValidEmailAddress(email))
        {
            $("form#subscribe input[type='text']").addClass("error");
            $(".message").empty();
            $(".message").text("digite um email válido");
            return false;
        }
        else
        {
            $("form#subscribe input[type='text']").removeClass("error");
            $(".message").fadeOut();
        }
        
        
        var dataString = "email=" + email;

         $.ajax({
            type: "POST",
            url: "Addsubscriber.php",
            data: dataString,
            beforeSend: function () {
                $("form#subscribe").hide();
                $("#menu").hide();
                $("#message").empty();
                $("#sending").show();
            },
            success: function(data) {
                $("#message").html(data);
            },
            error: function (xhr,err) {
                if (xhr.status == 500)
                {
                    $("#message").html("<p>Ocorreu um erro interno. Por favor, tente novamente mais tarde.</p>");
                }
                else if (xhr.status == 404)
                {
                    $("#message").html("<p>Url não encontrada. Por favor, tente novamente mais tarde.</p>");
                }
                else
                {
                    $("#message").html("<p>ReadyState: "+xhr.readyState+"  status: "+xhr.status+"</p>");
                }
                
            },
            complete: function () {
                $("#sending").hide();
                $("#menu").show();
                $("#message").show();
            }
        });
        
    });
    
    //Input
    $('#subscribe fieldset input[type="text"]').addClass("idle");
    $('#subscribe fieldset input[type="text"]').focus(function () {
        $(this).removeClass("idle");
        if (this.value == this.defaultValue) {
            this.value = '';
        }
    });
    
    $('#subscribe fieldset input[type="text"]').blur(function () {

        if ($.trim(this.value) == '') {
            this.value = (this.defaultValue ? this.defaultValue : '');
            $(this).addClass("idle");
        }
    });
    
</script>
<div id="subscribe">
    <form id="subscribe" action="" method="post">
        <p class="subscriber-info">Receba um email assim que finalizarmos.</p>
        <fieldset>
            <input type="text" value="deixe seu email" />
            <input class="button white" type="submit" value="Enviar" />
            <span class="error message"></span>
        </fieldset>
    </form>
    <div id="message">Fim</div>
    <div id="sending"></div>
    <div id="menu">
        <a target="_blank" class="contact menu-item" title="Contato">contato</a>
        <a target="_blank" class="presentation menu-item" title="Contato">apresentação</a>
        <a target="_blank" class="social menu-item" title="Social">social</a>
        <a target="_blank" class="meeting menu-item" title="Social">agendar reunião</a>
        <a target="_blank" class="about menu-item" title="Sobre">sobre</a>
    </div>
</div>

