html, body {
	margin:0; padding:0;
	height:100%;
}
body
{
	font-family:calibri;
	background-color:#E8E8E8;
}
div#main
{
	color:#555555;
			
	background-color:#FFFFFF;
			
	overflow:hidden;
}
h1
{
	margin:0px;
	color:#B2B2B2;
    font-size:40px;
}
h2
{
	margin:0px;
    font-size:25px;
}
h3
{
    margin:0px;
}
p
{
	margin:0px;
}  
a
{
	color:#606060;
    text-decoration:none;
}
p#copy
{
	text-align:center;
	font-size:8px;
	color:#909090 ;
	clear:both;
}
p.subtitle
{
    color:#989898;
    font-size:12px;
    margin-bottom:12px;
}

/*  Countdown
-----------------------------------*/
div#countdown_dashboard
{
	margin:40px auto 26px;
	overflow:auto;
    width:580px;
}
div.dash
{
	float:left;
	margin:0px 1px;
	width:140px;
	text-align:center;
}
div.dash .dash_title
{
	clear:both;
	font:20px cursive, arial;
	color:#B0B0B0;
	
}
div.dash .digits
{
	margin:0px auto;
	overflow:auto;
	width: 130px;
	border:1px solid #D0D0D0;
	padding:0px 3px;
	background-color:#F8F8F8;
}
div.dash .digit
{
	float:left;
    font-size:126px;
	font-weight:bold;
}