﻿html, body {
	margin:0; padding:0;
	height:100%;
}
body
{
	font-family:calibri;
	background-color:#E8E8E8;
}
div#floater
{
	float:left; 
	height:50%;
	width:2px;
}  
div#wrap
{
	clear:both;
	position:relative;
	margin:0px auto;
	overflow:auto; 
	width:768px;
	
}
div#main
{
	color:#555555;
			
	padding:10px;
	margin:5px auto 10px;
	background-color:#FFFFFF;
			
	border:1px solid #B8B8B8;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
			
	-moz-box-shadow: 3px 3px 4px #D0D0D0;
	-webkit-box-shadow: 3px 3px 4px #D0D0D0;
	box-shadow: 3px 3px 4px #D0D0D0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#D0D0D0')";  /* For IE 8 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#D0D0D0');  /* For IE 5.5 - 7 */
			
	overflow:hidden;
}
	  
h1
{
	margin:0px;
	color:#B2B2B2;
    text-shadow:0 1px 4px #C2C2C2;
}
h2
{
	margin:0px;
}
h3
{
    margin:0px;
}
p
{
	margin:0px;
}  
a
{
	color:#606060;
	cursor:pointer;
    text-decoration:none;
}
a:hover
{
	color:#E0E0E0;
	background-color:#484848;
}
a:active
{
	color:#F0F0F0;
	background-color:#606060;
}

p#copy
{
	text-align:center;
	font-size:14px;
	color:#909090 ;
	clear:both;
}
p.subtitle
{
    color:#989898;
    font-size:12px;
    margin-bottom:12px;
}


/*  Countdown
-----------------------------------*/
div#countdown_dashboard
{
	margin:60px auto 40px;
	overflow:auto;
	width: 305px;
}
div.dash
{
	float:left;
	margin:0px 1px;
	width:73px;
	height:82px;
	text-align:center;
}
div.dash .dash_title
{
	clear:both;
	font:12px cursive, arial;
	color:#B0B0B0;
	
}
div.dash .digits
{
	margin:0px auto;
	overflow:auto;
	width: 51px;
	border:1px solid #D0D0D0;
	text-shadow: 0 1px 1px #989898;
	padding:0px 10px;
	background-color:#F8F8F8;
}
div.dash .digit
{
	float:left;
	font-size:50px;
	font-weight:bold;
}
		
/*  Form
-----------------------------------*/
input[type="text"], textarea
{
	color:#555555;
	background-color:#FFFFFF;

	border:1px solid #C8C8C8;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}
input[type="text"].idle, textarea.idle
{
	font-size:20px;
	color:#989898;
	background-color:#EEE;
}

div.row
{
    clear:both;
    line-height:30px;
}
div.row input[type="text"]
{
    font-size:18px;
}
div.row textarea
{
    font-size:18px;
}
div.row label
{
    float:left;
}

fieldset
{
    border:none;
}
legend
{
    padding:0px;
}

/* Subscribe */
#subscribe fieldset
{
	margin:0px;
	padding:0px;
}
#subscribe fieldset .button
{
	height:52px;
	width:60px;
	vertical-align:top;
	
}
#subscribe fieldset input[type="text"]
{
	width:350px;
	height:40px;
    font-size:22px;
    padding:5px;
}

/*  Menu
------------------------------------*/
#menu
{
	text-align:left;
	width:430px;
	margin:7px auto 10px;
	
}

#menu a
{
	margin:0px 3px;
}

/*  Button
------------------------------------*/
.button, ui-button {
	cursor: pointer;
	text-shadow: 0 1px 1px #989898;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-box-shadow: 0 1px 2px #D0D0D0;
	-moz-box-shadow: 0 1px 2px #D0D0D0;
	box-shadow: 0 1px 2px #D0D0D0;
}

/* white */
.white, ui-button {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover, ui-button:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active,ui-button:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

div.subpage
{
    margin:0px auto 30px;
    border:1px solid #D0D0D0;
	background-color:#F8F8F8;
    padding:6px 10px;    
}

/*  Subscribe Page
------------------------------------*/
div#subscribe
{
    margin:0px auto;
    width:430px;
}
.subscriber-info
{
    font-size:12px;
    color:#989898;
    margin-bottom:3px;
}


/*  Contact Page
------------------------------------*/
div#contact
{
    width:323px;
}
div#contact form fieldset
{
    padding:0px;
    margin:0px;
}
div#contact form div.row
{
    margin:4px 0px;
}
div#contact form div.row input[type="text"]
{
    width:218px;
}
div#contact form div.row textarea
{
    width:215px;
    height:75px;
}
div#contact form div.row label
{
    width:100px;
    color:#888888;
}
div#contact form div.buttons
{
    text-align:right;
    padding-top:10px;
}
div#contact form div.buttons input[type="submit"]
{
    height:25px;
    width:60px;
}
#sending
{
    text-align:center;
    padding:10px;
    background-image:url('/images/ajax-loader.gif');
    background-repeat:no-repeat;
    background-position:center;
}
#message
{
    padding: 10px 0px;
    text-align:center;
}

/*  About Page
------------------------------------*/
div#about
{
    width:430px;
    font-size:14px;
}

div#about div.row label
{
    width:105px;
    font-weight:bold;
    font-size:16px;
}
div#about div.row label.localizacao
{
    line-height:30px;
}
div#about div.row a.localizacao
{
    line-height:normal;
}
div#about div.row ul
{
    margin:0px;
    padding:0px;
}
div#about div.row ul li
{
    margin:0px;
    padding:0px;
    line-height:normal;
    font-size:12px;
}
div#map-amsd
{
    width:440px;
    margin-left:105px;
    height:300px;
}
div#about div#menu-about
{
    text-align:center;
    margin-top:10px;
}
div#about a#back
{
    float:left;
}

/*  Presentation Page
------------------------------------*/
div#presentation
{
    width:580px;
    font-size:14px;
}
div#presentation .prezi-player
{
    margin: 15px;
}

/*  Social Page
------------------------------------*/
div#social
{
    width:400px;
}
#facebookHolder
{
    text-align: center;
    margin-bottom: 15px;
}
/*  Meeting Page
------------------------------------*/
div#meeting
{
    width:350px;
    text-align: center;
}

/*  Erros
------------------------------------*/
input.error
{  
    background: #f8dbdb;  
    border-color: #e77776;  
}
span.error
{  
    color: #e46c6e;
}
span.error.message
{
    font-size:12px;
}
}